$font-family-sans-serif:  Helvetica, Arial, sans-serif;

$header-padding: 20px;
$footer-padding: 20px;
$footer-height: 100px;

$z-stack: piece dragging;

// Bootstrap uses !default to define their variables, so to override a variable
// re-define it before this import statement.
@import '{reywood:bootstrap3-sass}/assets/stylesheets/bootstrap/variables';

// Colors
$color-black: #000;
$color-white: #fff;
$color-blue: rgb(80, 165, 246);
$color-green: rgb(50, 183, 64);
$color-red: rgb(250, 20, 10);
$color-yellow: rgb(231, 246, 67);
$color-blue-hilite: rgba($color-blue, .6);
$color-green-hilite: rgba($color-green, .6);
$color-red-hilite: rgba($color-red, .6);
$color-yellow-hilite: rgba($color-yellow, .6);

$color-primary-hilite: rgba($brand-primary, .4);
$color-success-hilite: rgba($brand-success, .4);
