@import 'variables';

@import '{reywood:bootstrap3-sass}/bootstrap';

html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
  margin: 0;
  padding-top: $navbar-height + $header-padding;
}

.full-height {
  height: 100%;
}

.app-container {
  margin-bottom: $footer-height + $footer-padding;
}

.footer {
  background: $navbar-default-bg;
  border: solid;
  border-color: $navbar-default-border;
  border-width: 1px 0 0;
  bottom: 0;
  height: $footer-height + 1px;
  margin-bottom: 0;
  position: absolute;
  width: 100%;

  ul {
    margin: 20px 0;
    padding: 0;
  }

  p {
    margin: 40px 0 0;
  }
}

.cover {
  margin-bottom: 50px;
  margin-top: 60px;
}

.inline-items {
  li {
    display: inline;

    + li::before {
      content: '\00b7';
      padding: 0 5px;
    }
  }
}
